.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
    top: auto;
}

.hidden {
    display: none;
}

#suggestion-response li {
    list-style-type: none;
    padding: 5px 0px;
}

#suggestion-response li[aria-selected="true"] {
    background-color: green;
}

#suggestion-box {
    position: relative;
}

#suggestion-response {
    position: absolute;
    left: 0;
    top: 20px;
    max-height: 150px;
    overflow-y: auto;
}

